# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
bin/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
override.tf.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Helm
*.tgz
charts/

# Kubernetes / OEP
kindAll.log
clean-job.yaml
infra-tls.key
infra-tls.crt
orch-ca.crt
.deploy/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local
